.btn {
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 10px;
}

.btn-primary {
  background-color: $main-orange;
  color: $white;
  border-color: $main-orange;

  &:hover, &:active, &:focus {
    background-color: $light-orange;
    border-color: $light-orange;
  }
}

.btn-full {
  width: 100%;
}
