.panel {
  border: 1px solid #e2baae;
  border-radius: 0;
}

.panel-default {

}

.panel-default > .panel-heading,
.panel-heading {
  background-color: $light-orange;
  color: white;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-footer {
  background-color: $light-orange;
  color: white;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 1px solid #e2baae;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
