<div class="container first-block">
  <div class="row products-view">
    <div class="col-md-3">
      <div data-hook="taxon_sidebar_navigation">
        <%= render partial: 'spree/shared/taxonomies' %>
      </div>
    </div>
    <div class="col-md-9">
      <div data-hook="taxon_products">
        <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
      </div>
    </div>
  </div>
</div>
