<div class='<%= @gray_background ? "gray-background" : nil %>'>
  <footer class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="footer">
          <div class="row">
            <div class="col-md-4">
              <p class="footer--link"><a href="#">Regulamin sklepu</a></p>
              <p class="footer--link"><a href="#">Polityka prywatności</a></p>
              <p class="footer--link"><a href="#">Polityka cookies</a></p>
            </div>
            <div class="col-md-4">
              <p class="footer--link"><a href="#">FAQ</a></p>
              <p class="footer--link"><a href="#">Pomoc</a></p>
            </div>
            <div class="col-md-4">
              <p class="footer--link"><a href="#">Napisz email</a></p>
              <p class="footer--link">Zadzwoń: 700 700 700</p>
            </div>
          </div>
          <p class="footer--copyright">Copyright @ Grace & Co 2018 </p>
        </div>
      </div>
    </div>
  </footer>
</div>
