<header class="header gray-background" data-hook>
  <div class="container relative">
    <div class="header--wrapper">
      <div class="header--left">
        <div class="header--logo-wrap">
          <%= link_to "Grace & Co", spree.root_path %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="header--nav-wrap">
          <%= render partial: 'spree/shared/nav_bar' %>
        </div>
      </div>
      <div class="header--right relative">
        <div id="link-to-cart" class="header--cart-icon">
        </div>
        <script>Spree.fetch_cart()</script>
      </div>
    </div>
    <div class="header--promo-cta">
      <span><i class="fas fa-phone"></i> +48 700 880 000</span>
    </div>
  </div>
</header>
