<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Sklep', spree.products_path %></li>
    <li><%= link_to 'FAQ', main_app.faq_path %></li>
    <li><%= link_to 'Blog', lines.root_path %></li>
  </ul>
</div>
