<% @body_id = 'home-page' %>

<div class="gray-background main-wrapper">
  <div class="first-block container">
    <div class="main-banner--wrapper relative">
      <%= image_tag "background-image.jpg", class: "main-banner--image" %>
      <div class="main-banner--content-wrapper">
        <div class="main-banner--content">
          <h1 class="main-banner--header">Grace & Co</h1>
          <h2 class="main-banner--subheader">Najpiękniejsze tkaniny na świecie</h2>
          <div class="main-banner--shop-now">
            <%= link_to root_path, class: 'main-banner--shop-now__wrapper' do %>
              <span>Zobacz tkaniny</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-block container">
    <div class="side-block--wrapper">
      <div class="side-block--block">
        <h3 class="side-block--header">
          O Grace & Co
        </h3>
        <p class="side-block--paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="side-block--paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="side-block--block side-block--image-background-block-1">
      </div>
    </div>
    <div class="side-block--wrapper">
      <div class="side-block--block side-block--image-background-block-2">
      </div>
      <div class="side-block--block">
        <h3 class="side-block--header">
          O Grace & Co
        </h3>
        <p class="side-block--paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="side-block--paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>

  <div class="main-block container">
    <div class="contact-form-wrapper">
      <div id="contact">
        <%= render 'spree/shared/contact-form' %>
      </div>
    </div>
  </div>
</div>
